/* line 1, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 24, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box !important;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 33, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
input {
  padding: 5px;
  font-size: 16px;
}

/* line 38, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
select {
  padding: 5px;
}

/* line 44, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.hidden {
  visibility: hidden;
}

/* line 48, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.hide {
  display: none !important;
}

/* line 60, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* line 69, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app-body {
  width: 100vw;
  height: 100%;
}

/* line 74, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#topbar-container {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  background-image: url(/assets/plate-0487faef6677df0f61de8e504d9a3c66cb05dde1e5d4410efea64e7bd086a514.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
}

/* line 84, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app-body {
  display: flex;
  flex-direction: column;
}

/* line 89, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

/* line 94, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#map-container-container {
  width: 100%;
  min-height: 400px;
}

/* line 99, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#map-container {
  width: 100%;
  min-height: 400px;
}

/* line 104, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-data-area {
  position: relative;
  height: 100%;
}

/* line 109, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-show-area {
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: scroll;
}

/* line 116, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  position: absolute;
  z-index: 2;
}

/* line 121, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-container {
  position: absolute;
  z-index: 3;
}

/* line 126, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

/* line 133, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-container {
  height: 100%;
}

/* line 137, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
}

/* line 150, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(160, 160, 160, 0.2);
}

/* line 158, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 9px;
  border: 1px solid rgba(190, 190, 190, 0.1);
  box-shadow: 1px 1px 0px #bebebe;
}

/* line 175, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-top {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 183, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-icon {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 15%;
}

/* line 190, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-location {
  padding: 4px;
  width: 55%;
  display: flex;
  align-items: center;
}

/* line 197, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-finder {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 30%;
}

/* line 204, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-top: 4px;
  width: 100%;
}

/* line 213, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-actions > div {
  padding: 4px 8px;
  background-color: rgba(89, 117, 156, 0.8);
  border-radius: 4px;
}

/* line 221, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* line 228, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form {
  border: 1px solid black;
  position: absolute;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f7ca18;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

/* line 243, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form:hover {
  background-color: #f4f776;
  color: rgba(89, 117, 156, 0.95);
}

/* line 250, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-area-container {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(190, 190, 190, 0.1);
}

/* line 257, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-area {
  width: 90%;
}

/* line 261, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#close-lemon-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(247, 202, 24, 0.5);
  cursor: pointer;
  position: absolute;
}

/* line 271, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-topbar {
  display: flex;
  width: 100vw;
  position: relative;
}

/* line 277, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-container {
  height: 100%;
  background-color: white;
}

/* line 282, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-with-heading {
  height: 100%;
}

/* line 286, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#edit-bar {
  width: 100%;
  display: flex;
  padding: 3px;
  align-items: center;
  background-color: #f7ca18;
}

/* line 294, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#reset-form {
  padding: 2px 10px;
  background-color: #bebebe;
  cursor: pointer;
}

/* line 300, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-heading {
  padding: 15px;
  display: flex;
  background-color: #f4f776;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 309, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form {
  width: 100%;
}

/* line 313, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#row1 {
  display: flex;
}

/* line 317, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 324, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.latlng-input {
  width: 4rem;
}

/* line 328, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-input1 {
  margin-right: 20px;
}

/* line 332, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-form-label {
  margin-bottom: 4px;
}

/* line 336, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 342, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-label2 {
  color: #bebebe;
  font-size: 12px;
  margin-top: 5px;
}

/* line 348, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#tree-area {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

/* line 354, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#note-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 360, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
textarea {
  height: 5rem;
  margin: 0 15px;
  font-size: 16px;
}

/* line 366, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#location {
  display: inline-block;
  width: 100%;
}

/* line 375, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.label-input {
  display: flex;
}

/* line 379, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-submit {
  padding: 10px 20px;
  background-color: #f7ca18;
  border: 1px solid black;
  margin: 10px 15px 0px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}

/* line 389, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-submit:hover {
  background-color: #f4f776;
  color: rgba(16, 0, 76, 0.6);
}

/* line 394, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.input-area {
  width: 100%;
}

/* line 400, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  height: 100%;
  width: 100%;
}

/* line 405, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-inner {
  box-sizing: border-box;
  background-color: rgba(190, 190, 190, 0.1);
  padding: 25px;
  width: 100%;
}

/* line 412, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-topbar {
  width: 100%;
  display: flex;
  position: relative;
}

/* line 418, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-bye {
  display: flex;
  justify-content: flex-end;
}

/* line 423, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-bye-inner {
  width: 10rem;
}

/* line 427, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-back {
  position: absolute;
  padding: 13px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  background-color: rgba(247, 202, 24, 0.5);
  cursor: pointer;
}

/* line 437, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-header {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 445, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-item {
  height: 100%;
  width: 100%;
}

/* line 450, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-lemon {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* line 456, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-text {
  padding: 15px;
  background-color: rgba(190, 190, 190, 0.1);
}

/* line 461, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  width: 100%;
  height: 100%;
}

/* line 466, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 476, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  flex-direction: column;
  border-radius: 400px;
  overflow: visible;
  transition: .3s;
  background-color: rgba(255, 215, 142, 0.875);
}

/* line 489, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 495, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#modalimage {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 504, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#closebutton {
  padding: 10px 20px;
  background-color: rgba(190, 190, 190, 0.1);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

/* line 512, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#robertluvsya {
  margin: 20px;
  font-size: 3rem;
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

/* line 761, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex {
  display: flex;
}

/* line 765, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.column {
  flex-direction: column;
}

/* line 769, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.start {
  align-items: flex-start;
}

/* line 773, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.align-center {
  align-items: center;
}

/* line 777, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.justify-center {
  justify-content: center;
}

/* line 781, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.justify-between {
  justify-content: space-between;
}

/* line 785, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.center {
  align-items: center;
  justify-content: center;
}

/* line 790, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.mr-10 {
  margin-right: 10px;
}

/* line 794, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.m-15 {
  margin: 15px;
}

/* line 798, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-fast {
  opacity: 0;
  transition: opacity .25s ease-in;
}

/* line 803, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in {
  opacity: 0;
  transition: opacity .5s ease-in;
}

/* line 808, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-slower {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* line 813, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-even-slower {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* line 818, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-slowest {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

/* line 823, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.fade-in {
  opacity: 1;
}

/* line 827, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.slide-left {
  transform: translateX(-52%);
  transition: transform .75s ease-in-out;
}

/* line 832, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-1 {
  flex: 1;
}

/* line 836, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-2 {
  flex: 2;
}

/* line 840, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-3 {
  flex: 3;
}

/* line 844, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-4 {
  flex: 4;
}

/* line 848, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.w-100 {
  width: 100%;
}

/* line 852, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Lemon {
  background-color: #f4f776;
}

/* line 856, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Lime {
  background-color: #9dfb4b;
}

/* line 860, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Orange {
  background-color: #ffd78e;
}

/* line 864, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Lemon {
  background-color: rgba(244, 247, 118, 0.5);
}

/* line 868, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Lime {
  background-color: rgba(157, 251, 75, 0.5);
}

/* line 872, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Orange {
  background-color: rgba(255, 215, 142, 0.5);
}

/* line 876, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.fancy {
  font-family: 'Dancing Script', cursive;
}

/* line 880, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.sans {
  font-family: 'Comic Sans', sans-serif;
}

/* line 887, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
/* line 896, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

