/* line 1, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 24, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box !important;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 33, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
input {
  padding: 5px;
}

/* line 37, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
select {
  padding: 5px;
}

/* line 43, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.hidden {
  visibility: hidden;
}

/* line 47, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.hide {
  display: none !important;
}

/* line 59, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* line 68, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app-body {
  width: 100vw;
  height: 100%;
}

/* line 73, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#topbar-container {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  background-image: url(/assets/plate-0487faef6677df0f61de8e504d9a3c66cb05dde1e5d4410efea64e7bd086a514.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
}

/* line 83, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app-body {
  display: flex;
  flex-direction: column;
}

/* line 88, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

/* line 93, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#map-container-container {
  width: 100%;
  min-height: 400px;
}

/* line 98, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#map-container {
  width: 100%;
  min-height: 400px;
}

/* line 103, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-data-area {
  position: relative;
  height: 100%;
}

/* line 108, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-show-area {
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: scroll;
}

/* line 115, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  position: absolute;
  z-index: 2;
}

/* line 120, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-container {
  position: absolute;
  z-index: 3;
}

/* line 125, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

/* line 132, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-container {
  height: 100%;
}

/* line 136, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
}

/* line 149, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(160, 160, 160, 0.2);
}

/* line 157, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 7px;
  border-radius: 9px;
}

/* line 171, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-top {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 179, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-icon {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 15%;
}

/* line 186, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-location {
  padding: 4px;
  width: 55%;
  display: flex;
  align-items: center;
}

/* line 193, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-finder {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 30%;
}

/* line 200, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-top: 4px;
  width: 100%;
}

/* line 209, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-actions > div {
  padding: 4px 8px;
  background-color: rgba(89, 117, 156, 0.8);
  border-radius: 4px;
}

/* line 217, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* line 224, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form {
  border: 1px solid black;
  position: absolute;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f7ca18;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

/* line 239, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form:hover {
  background-color: #f4f776;
  color: rgba(89, 117, 156, 0.95);
}

/* line 246, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-area-container {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(190, 190, 190, 0.1);
}

/* line 253, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-area {
  width: 60%;
}

/* line 257, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#close-lemon-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(247, 202, 24, 0.5);
  cursor: pointer;
  position: absolute;
}

/* line 267, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-topbar {
  display: flex;
  width: 100vw;
  position: relative;
}

/* line 273, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-container {
  height: 100%;
  background-color: white;
}

/* line 278, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-with-heading {
  height: 100%;
}

/* line 282, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#edit-bar {
  width: 100%;
  display: flex;
  padding: 3px;
  align-items: center;
  background-color: #f7ca18;
}

/* line 290, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#reset-form {
  padding: 2px 10px;
  background-color: #bebebe;
  cursor: pointer;
}

/* line 296, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-heading {
  padding: 15px;
  display: flex;
  background-color: #f4f776;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 305, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form {
  height: 100%;
  width: 100%;
}

/* line 310, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#row1 {
  display: flex;
}

/* line 314, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 321, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.latlng-input {
  width: 4rem;
}

/* line 325, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-input1 {
  margin-right: 20px;
}

/* line 329, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-form-label {
  margin-bottom: 4px;
}

/* line 333, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 339, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-label2 {
  color: #bebebe;
  font-size: 12px;
  margin-top: 5px;
}

/* line 345, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#tree-area {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

/* line 351, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#note-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 357, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
textarea {
  height: 5rem;
  margin: 0 15px;
}

/* line 362, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#location {
  display: inline-block;
  width: 100%;
}

/* line 371, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.label-input {
  display: flex;
}

/* line 375, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-submit {
  padding: 10px 20px;
  background-color: #f7ca18;
  border: 1px solid black;
  margin: 10px 15px 0px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}

/* line 385, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-submit:hover {
  background-color: #f4f776;
  color: rgba(16, 0, 76, 0.6);
}

/* line 390, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.input-area {
  width: 100%;
}

/* line 396, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  height: 100%;
  width: 100%;
}

/* line 401, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-inner {
  box-sizing: border-box;
  background-color: rgba(190, 190, 190, 0.1);
  padding: 25px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* line 410, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-topbar {
  width: 100%;
  display: flex;
  position: relative;
}

/* line 416, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-bye {
  display: flex;
  justify-content: flex-end;
}

/* line 421, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-bye-inner {
  width: 10rem;
}

/* line 425, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-back {
  position: absolute;
  padding: 13px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  background-color: rgba(247, 202, 24, 0.5);
  cursor: pointer;
}

/* line 435, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-header {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 443, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-item {
  height: 100%;
  width: 100%;
}

/* line 448, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-lemon {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* line 454, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-text {
  padding: 15px;
  background-color: rgba(190, 190, 190, 0.1);
}

/* line 459, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  width: 100%;
  height: 100%;
}

/* line 464, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 474, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  flex-direction: column;
  border-radius: 900px;
  transition: .3s;
  background-color: rgba(255, 215, 142, 0.875);
}

/* line 486, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 492, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#modalimage {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 501, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#closebutton {
  padding: 10px 20px;
  background-color: rgba(190, 190, 190, 0.1);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

/* line 509, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#robertluvsya {
  margin: 20px;
  font-size: 3rem;
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

/* line 758, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex {
  display: flex;
}

/* line 762, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.column {
  flex-direction: column;
}

/* line 766, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.start {
  align-items: flex-start;
}

/* line 770, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.align-center {
  align-items: center;
}

/* line 774, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.justify-center {
  justify-content: center;
}

/* line 778, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.justify-between {
  justify-content: space-between;
}

/* line 782, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.center {
  align-items: center;
  justify-content: center;
}

/* line 787, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.mr-10 {
  margin-right: 10px;
}

/* line 791, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.m-15 {
  margin: 15px;
}

/* line 795, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-fast {
  opacity: 0;
  transition: opacity .25s ease-in;
}

/* line 800, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in {
  opacity: 0;
  transition: opacity .5s ease-in;
}

/* line 805, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-slower {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* line 810, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-even-slower {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* line 815, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-slowest {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

/* line 820, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.fade-in {
  opacity: 1;
}

/* line 824, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.slide-left {
  transform: translateX(-52%);
  transition: transform .75s ease-in-out;
}

/* line 829, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-1 {
  flex: 1;
}

/* line 833, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-2 {
  flex: 2;
}

/* line 837, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-3 {
  flex: 3;
}

/* line 841, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-4 {
  flex: 4;
}

/* line 845, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.w-100 {
  width: 100%;
}

/* line 849, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Lemon {
  background-color: #f4f776;
}

/* line 853, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Lime {
  background-color: #9dfb4b;
}

/* line 857, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Orange {
  background-color: #ffd78e;
}

/* line 861, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Lemon {
  background-color: rgba(244, 247, 118, 0.5);
}

/* line 865, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Lime {
  background-color: rgba(157, 251, 75, 0.5);
}

/* line 869, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Orange {
  background-color: rgba(255, 215, 142, 0.5);
}

/* line 873, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.fancy {
  font-family: 'Dancing Script', cursive;
}

/* line 877, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.sans {
  font-family: 'Comic Sans', sans-serif;
}

/* line 884, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
/* line 893, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

