/* line 1, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 27, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box !important;
}

/* line 32, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 36, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
input {
  padding: 5px;
  font-size: 16px;
}

/* line 41, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
select {
  padding: 5px;
}

/* line 47, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.hidden {
  visibility: hidden;
}

/* line 51, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.hide {
  display: none !important;
}

/* line 57, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 900px) {
  /* line 57, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #root {
    background-image: url(/assets/lemon6-62bf8cc89ab790d3b8cc04c85b869b9d260cfe4c845bed9f9650bcbd8e09bc1f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }
}

/* line 72, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  /* line 78, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #page {
    width: 80%;
  }
}

/* line 84, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#app-body {
  width: 100vw;
  height: 100%;
  background-color: rgba(190, 190, 190, 0.2);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  /* line 84, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #app-body {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
}

/* line 98, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#topbar-container {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background-image: url(/assets/plate-0487faef6677df0f61de8e504d9a3c66cb05dde1e5d4410efea64e7bd086a514.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
}
@media screen and (min-width: 900px) {
  /* line 98, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #topbar-container {
    width: auto;
  }
}

/* line 112, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

/* line 117, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#map-container-container {
  width: 100%;
  min-height: 375px;
}
@media screen and (min-width: 900px) {
  /* line 117, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #map-container-container {
    width: 50%;
    height: 550px;
  }
}

/* line 127, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#map-container {
  width: 100%;
  min-height: 375px;
}
@media screen and (min-width: 900px) {
  /* line 127, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #map-container {
    height: 550px;
  }
}

/* line 136, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-data-area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  /* line 136, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-data-area {
    flex-direction: column-reverse;
    width: 50%;
  }
}

/* line 148, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-show-area {
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: scroll;
}
@media screen and (min-width: 900px) {
  /* line 148, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-show-area {
    width: 100%;
  }
}

/* line 159, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  position: absolute;
  z-index: 2;
}

/* line 164, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-container {
  position: absolute;
  z-index: 3;
}

/* line 169, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
@media screen and (min-width: 900px) {
  /* line 169, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-index {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
  }
}

/* line 181, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-container {
  height: 100%;
}

/* line 185, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
}
@media screen and (min-width: 900px) {
  /* line 185, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-index-list {
    margin-bottom: 100px;
  }
}

/* line 202, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(160, 160, 160, 0.3);
}
@media screen and (min-width: 900px) {
  /* line 202, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-index-header {
    padding: 25px;
    font-size: 1.5rem;
    background-color: rgba(190, 190, 190, 0.75);
  }
}

/* line 216, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 9px;
  border: 1px solid rgba(190, 190, 190, 0.2);
  box-shadow: 1px 1px 0px #bebebe;
}

/* line 233, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-top {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 241, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-icon {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 15%;
}

/* line 248, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-location {
  padding: 4px;
  width: 55%;
  display: flex;
  align-items: center;
}

/* line 255, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-finder {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 30%;
}

/* line 262, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-top: 4px;
  width: 100%;
}

/* line 271, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-actions > div {
  padding: 5px 10px;
  background-color: #bebebe;
  border-radius: 4px;
}

/* line 279, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 900px) {
  /* line 279, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  .open-lemon-form-container {
    z-index: 5;
  }
}

/* line 290, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form {
  border: 1px solid black;
  position: absolute;
  top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f7ca18;
  margin-top: 10px;
  border-radius: 5px;
  transition: .3s;
}

/* line 305, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.sheen {
  position: absolute;
  overflow: hidden;
}

/* line 310, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.sheen:after {
  animation: sheen 1s 0s infinite;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  transform: rotateZ(60deg) translate(-1em, 4em);
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}
/* line 328, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.open-lemon-form:hover {
  background-color: #f4f776;
  color: rgba(89, 117, 156, 0.95);
}

/* line 335, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-area-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

/* line 341, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-area {
  width: 90%;
}

/* line 345, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-errors {
  padding: 0 15px;
}

/* line 349, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#close-lemon-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgba(247, 202, 24, 0.5);
  cursor: pointer;
  position: absolute;
  border-right: 1px solid rgba(190, 190, 190, 0.2);
}

/* line 360, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-topbar {
  display: flex;
  width: 100vw;
  position: relative;
}
@media screen and (min-width: 900px) {
  /* line 360, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-form-topbar {
    width: auto;
  }
}

/* line 370, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-container {
  height: 100%;
  background-color: white;
}
@media screen and (min-width: 900px) {
  /* line 370, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-form-container {
    background-color: rgba(255, 255, 255, 0.75);
    position: static;
  }
}

/* line 380, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-with-heading {
  height: 100%;
}

/* line 384, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#edit-bar {
  width: 100%;
  display: flex;
  padding: 3px;
  justify-content: space-between;
  background-color: #f7ca18;
}
@media screen and (min-width: 900px) {
  /* line 384, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #edit-bar {
    padding: 5px;
  }
}

/* line 396, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#reset-form {
  padding: 2px 10px;
  background-color: #bebebe;
  cursor: pointer;
}

/* line 402, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-heading {
  padding: 15px;
  display: flex;
  background-color: #f4f776;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

/* line 412, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-heading-text {
  font-weight: bold;
}

/* line 416, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.slowbounce {
  -webkit-animation: slowbounce 1s infinite;
  /* Safari 4.0 - 8.0 */
  animation: slowbounce 1s infinite;
}

@keyframes slowbounce {
  0% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(0.5px);
  }
  50% {
    transform: translateY(1px);
  }
  60% {
    transform: translateY(0.5px);
  }
  100% {
    transform: translateY(-3px);
  }
}
/* line 429, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form {
  width: 100%;
}

/* line 433, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#row1 {
  display: flex;
}

/* line 437, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 444, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.latlng-input {
  width: 4rem;
}

/* line 448, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-input1 {
  margin-right: 20px;
}

/* line 452, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-form-label {
  margin-bottom: 4px;
}

/* line 456, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 462, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#latlng-label2 {
  color: #bebebe;
  font-size: 12px;
  margin-top: 5px;
}

/* line 468, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#tree-area {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

/* line 474, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#note-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 480, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
textarea {
  height: 5rem;
  margin: 0 15px;
  font-size: 16px;
}

/* line 486, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#location {
  display: inline-block;
  width: 100%;
}

/* line 495, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.label-input {
  display: flex;
}

/* line 499, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-submit {
  padding: 10px 20px;
  background-color: #f7ca18;
  border: 1px solid black;
  margin: 10px 15px 0px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}

/* line 509, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-form-submit:hover {
  background-color: #f4f776;
  color: rgba(16, 0, 76, 0.6);
}

/* line 514, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.input-area {
  width: 100%;
}

/* line 520, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  height: 100%;
  width: 100%;
}

/* line 525, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-inner {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
}

/* line 531, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-topbar {
  width: 100%;
  display: flex;
  position: relative;
}

/* line 537, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-bye {
  display: flex;
  justify-content: flex-end;
}

/* line 542, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-bye-inner {
  width: 10rem;
}

/* line 546, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-back {
  position: absolute;
  padding: 15px;
  background-color: rgba(247, 202, 24, 0.5);
  cursor: pointer;
  border-right: 1px solid rgba(190, 190, 190, 0.2);
}

/* line 554, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-header {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* line 563, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-item {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 900px) {
  /* line 563, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-focus-item {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

/* line 572, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-lemon {
  height: 100%;
  width: 100%;
  background-color: white;
}
@media screen and (min-width: 900px) {
  /* line 572, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-focus-lemon {
    height: auto;
    background-color: transparent;
  }
}

/* line 583, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus-text {
  padding: 25px;
  background-color: rgba(190, 190, 190, 0.2);
}
@media screen and (min-width: 900px) {
  /* line 583, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-focus-text {
    background-color: rgba(190, 190, 190, 0.5);
  }
}

/* line 592, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-focus {
  width: 100%;
  height: 100%;
}

/* line 597, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 609, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  flex-direction: column;
  border-radius: 375px;
  overflow: visible;
  transition: .3s;
  background-color: rgba(255, 215, 142, 0.9);
}

/* line 622, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-modal-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 628, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#modalimage {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 637, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#closebutton {
  padding: 10px 20px;
  background-color: rgba(190, 190, 190, 0.5);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

/* line 645, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#robertluvsya {
  margin: 20px;
  font-size: 36px;
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

/* line 654, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-1 {
  background-image: url(/assets/lemon-fc218dd279af3bc9557afe03d358dddedbb47be18359b98ffebe6cb9ee98a8da.gif) !important;
  background-size: contain !important;
}

/* line 658, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-2 {
  background-image: url(/assets/lemon2-b0ebb1a5ce66713ffd7f06be41d76233170398a3ad939240c9393f647f07bd10.jpg) !important;
  background-size: contain !important;
}

/* line 662, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-3 {
  background-image: url(/assets/lemon3-26fb2f8ac307078770e750533a0d3984150ddfda00c893d8cbb302cf118950a4.gif) !important;
  background-size: contain !important;
}

/* line 666, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-4 {
  background-image: url(/assets/lemon4-3c431c8253fdcc8b947ca929418df7cd664825426072897870d29d7f8c1fc433.gif) !important;
  background-size: contain !important;
}

/* line 670, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-5 {
  background-image: url(/assets/lemon5-dc1f328a2a68e361db9d42d047175a4a250a1b88300570b39ff8b81f804f5849.gif) !important;
  background-size: contain !important;
}

/* line 674, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-6 {
  background-image: url(/assets/lemon6-62bf8cc89ab790d3b8cc04c85b869b9d260cfe4c845bed9f9650bcbd8e09bc1f.jpg) !important;
  background-size: cover !important;
}

/* line 678, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-7 {
  background-image: url(/assets/lemon7-fe191e64307d30f1a1da07f3b8d2df3bcea246b95d3136d92ad92f6601db4008.jpg) !important;
  background-size: cover !important;
}

/* line 682, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-8 {
  background-image: url(/assets/lemon8-9a34b28b64a46fbf075d6168ba8d653b598a187e33dc40a6f68c97644c4689dc.gif) !important;
  background-size: contain !important;
}

/* line 686, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.lemon-bg-9 {
  background-image: url(/assets/lemon9-a597b9a155ccebf889e8b8af0faf48e808f0bbed6e96146a0a3fa9e818efb32e.jpg) !important;
  background-size: cover !important;
}

/* line 691, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
#lemon-bg-changer {
  display: none;
}
@media screen and (min-width: 900px) {
  /* line 691, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
  #lemon-bg-changer {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(/assets/lemon_cross-1db4132f333f16590455d03bcc64a4e10995c4f3c2fd273b994a2b99b8dceb6c.png);
    background-size: contain;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
  }
}

/* line 949, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex {
  display: flex;
}

/* line 953, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.column {
  flex-direction: column;
}

/* line 957, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.start {
  align-items: flex-start;
}

/* line 961, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.align-center {
  align-items: center;
}

/* line 965, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.justify-center {
  justify-content: center;
}

/* line 969, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.justify-between {
  justify-content: space-between;
}

/* line 973, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.center {
  align-items: center;
  justify-content: center;
}

/* line 978, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.mr-10 {
  margin-right: 10px;
}

/* line 982, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.m-15 {
  margin: 15px;
}

/* line 986, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-fast {
  opacity: 0;
  transition: opacity .25s ease-in;
}

/* line 991, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in {
  opacity: 0;
  transition: opacity .5s ease-in;
}

/* line 996, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-slower {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* line 1001, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-even-slower {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* line 1006, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.to-fade-in-slowest {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

/* line 1011, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.fade-in {
  opacity: 1;
}

/* line 1015, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.slide-left {
  transform: translateX(-52%);
  transition: transform .75s ease-in-out;
}

/* line 1020, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-1 {
  flex: 1;
}

/* line 1024, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-2 {
  flex: 2;
}

/* line 1028, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-3 {
  flex: 3;
}

/* line 1032, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.flex-4 {
  flex: 4;
}

/* line 1036, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.w-100 {
  width: 100%;
}

/* line 1040, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Lemon {
  background-color: #f4f776;
}

/* line 1044, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Lime {
  background-color: #9dfb4b;
}

/* line 1048, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.Orange {
  background-color: #ffd78e;
}

/* line 1052, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Lemon {
  background-color: rgba(244, 247, 118, 0.5);
}

/* line 1056, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Lime {
  background-color: rgba(157, 251, 75, 0.5);
}

/* line 1060, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.pale-Orange {
  background-color: rgba(255, 215, 142, 0.5);
}

/* line 1064, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.fancy {
  font-family: 'Dancing Script', cursive;
}

/* line 1068, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.sans {
  font-family: 'Comic Sans', sans-serif;
}

/* line 1075, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
/* line 1084, /Users/robertang/Desktop/lemonparty/app/assets/stylesheets/sffoodtrucks.scss */
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

