@import 'reset';

$blue: rgba(89, 117, 156, .8);
$higher-opacity-blue: rgba(89, 117, 156, .95);
$brown: rgba(0, 0, 71, 1);
$light-brown: rgba(211, 178, 149, .5);
$dark-brown: rgba(36, 22, 22, .2);
$white: rgba(255, 255, 255, 1);
$pale-white: rgba(160, 160, 160, .2);
$extra-pale-white: rgba(255, 255, 255, .75);
$purple-blue: rgba(16, 0, 76, .6);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// Utility

.hidden {
  visibility: hidden;
}

.hide {
  display: none !important;
}

// App Containers and header bars

#root {
  // background-image: image-url("truck_background.png");
  // background-size: cover;
  // min-height: 100vh;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
}

#app-body {
  width: 100vw;
}

#topbar-container{
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  background-image: image-url("plate.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
}

#app-body {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

#map-container-container {
  width: 100%;
  min-height: 500px;
}

#map-container {
  width: 100%;
  min-height: 500px;
}

#lemon-data-area {
}

#lemon-show-area {
  position: absolute;
  z-index: 1;
}

#lemon-focus {
  position: absolute;
  z-index: 2;
}

#lemon-form-container {
  position: absolute;
  z-index: 3;
}

#lemon-index {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#lemon-index-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.lemon {
  display: inline-block;
  width: 25%;
  padding: 1%;
  box-sizing: border-box;
}

// Truck index

#truck-index-container-container {
}

#truck-index-container {
}

#truck-index-header {
}

.search-form-container {
}

#truck-index {
}

#truck-index ul{
  // overflow-x: hidden;
  // overflow-y: scroll;
  // height: 100%;
  // padding: 5px;
  // background-color: $white;
}

#truck-index ul .truck:last-child{
  // border-bottom: none;
}

// Truck show

#truck-focus{
}

#truck-focus-back{
  // height: 20px;
  // width: 20px;
  // background-image: image-url("back.png");
  // background-size: cover;
  // background-position: center;
  // border: none;
  // margin: 5px 0 0 5px;
}

#truck-focus-truck{
  // padding: 5px;
  // box-sizing: border-box;
}

#truck-focus-truck .truck{
  // border: none;
}

#truck-focus-item {
  // background-color: white;
  // width: 100%;
}

// Search Form

.search-form-container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#leslie-container {
  //
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#leslie {
  // background-image: image-url("lesliesbrocco.png");
  // border-radius: 50px;
  // height: 85px;
  // width: 85px;
  // background-size: cover;
  // background-position: center;
}

.search-form {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // margin-left: 10px;
}

.search-form-food-header {
  // margin: 2px;
}

.search-form-input-food {
  // margin: 2px;
}

.submit-button {
  // border: none;
  // background-color: $higher-opacity-blue;
  // width: 181px;
  // padding: 6px;
  // cursor: pointer;
  // transition: background-color .5s ease;
  // transition: color .5s ease;
  // margin: 2px;
}

.submit-button:hover {
  // background-color: $brown;
  // color: white;
}

.search-form-input-food {
  // width: 165px;
  // padding: 6px;
}

// Truck

.truck {
  // display: flex;
  // flex-direction: column;
  // padding: 12px;
  // border-bottom: 1px solid $dark-brown;
  // font-size: .9rem;
}

.truck-top {
  // display: flex;
  // justify-content: space-between;
  // margin-bottom: 5px;
}

.truck-name-address {
  // display: flex;
  // flex-direction: column;
}

.truck-name {
  // font-size: 1.2rem;
  // font-weight: 600;
  // padding-bottom: 2px;
}

.truck-address {
  // color: $brown;
}

.truck-food {
  // font-size: .9rem;
}

// Splash

#splash {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;
  // height: 100%;
  // position: fixed;
  // z-index: 3;
  // background-color: $blue;
}

#splash-welcome-container{
  // background-color: inherit;
  // width: 100%;
  // height: 20%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#splash-welcome {
  // font-family: 'Dancing Script', cursive;
  // color: white;
  // font-size: 4rem;
}

#splash .search-form-container {
  // flex-direction: column;
  // width: 100%;
  // height: 80%;
  // border: none;
  // background-color: inherit;
  // justify-content: flex-start;
  // align-items: center;
  // margin: 0;
  // padding: 0;
}


#splash #leslie {
  // width: 180px;
  // height: 180px;
  // border-radius: 100px;
  // margin: 40px;
}

#splash .search-form {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#splash .search-form-food {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

#splash .search-form-food-header {
  // font-size: 2.2rem;
  // color: white;
}

#splash .search-form-input-food {
  // border: none;
  // text-align: center;
  // margin: 30px;
  // padding: 10px;
  // font-size: 1.2rem;
}

#splash .submit-button {
  // width: 200px;
  // padding: 10px;
  // font-size: 1.2rem;
  // color: white;
  // background-color: $purple-blue;
}

#splash .submit-button:hover {
  // background-color: $brown;
}

// Transitions/animations

.flex {
  display: flex;
}

.mr-10 {
  margin-right: 10px;
}

.to-fade-in-fast {
  opacity: 0;
  transition: opacity .25s ease-in;
}

.to-fade-in {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.to-fade-in-slower {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.to-fade-in-even-slower {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.to-fade-in-slowest {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}

.slide-left {
  transform: translateX(-52%);
  transition: transform .75s ease-in-out;
}
