@import 'reset';

$blue: rgba(89, 117, 156, .8);
$higher-opacity-blue: rgba(89, 117, 156, .95);
$brown: rgba(0, 0, 71, 1);
$light-brown: rgba(211, 178, 149, .5);
$dark-brown: rgba(36, 22, 22, .2);
$white: rgba(255, 255, 255, 1);
$pale-white: rgba(160, 160, 160, .3);
$extra-pale-white: rgba(255, 255, 255, .75);
$purple-blue: rgba(16, 0, 76, .6);
$yellow: rgba(247, 202, 24, 1);
$pale-yellow: rgba(247, 202, 24, .75);
$light-yellow: rgba(244, 247, 118, 1);
$pale-light-yellow: rgba(244, 247, 118, .75);
$gray: rgba(190, 190, 190, 1);
$medium-heavy-gray: rgba(190, 190, 190, .75);
$medium-gray: rgba(190, 190, 190, .5);
$light-gray: rgba(190, 190, 190, .2);
$lightest-gray: rgba(255, 255, 255, .05);
$orange: rgba(255, 215, 142, 1);
$lime: rgba(157, 251, 75, 1);
$medium-orange: rgba(255, 215, 142, .9);
$pale-orange: rgba(255, 215, 142, .75);
$pale-lime: rgba(157, 251, 75, .75);

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box !important;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

input {
  padding: 5px;
  font-size: 16px;
}

select {
  padding: 5px;
}

// Utility

.hidden {
  visibility: hidden;
}

.hide {
  display: none !important;
}

// App Containers and header bars

#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 900px) {
    background-image: image-url("lemon6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  @media screen and (min-width: 900px) {
    width: 80%;
  }
}

#app-body {
  width: 100vw;
  height: 100%;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
  }
}

#topbar-container{
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background-image: image-url("plate.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;

  @media screen and (min-width: 900px) {
    width: auto
  }
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

#map-container-container {
  width: 100%;
  min-height: 375px;

  @media screen and (min-width: 900px) {
    width: 50%;
    height: 550px;
    opacity: .96;
  }
}

#map-container {
  width: 100%;
  min-height: 375px;

  @media screen and (min-width: 900px) {
    height: 550px;
  }
}

#lemon-data-area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    flex-direction: column-reverse;
    width: 50%;
  }
}

#lemon-show-area {
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: scroll;

  @media screen and (min-width: 900px) {
    width: 100%;
  }
}

#lemon-focus {
  position: absolute;
  z-index: 2;
}

#lemon-form-container {
  position: absolute;
  z-index: 3;
}

#lemon-index {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;

  @media screen and (min-width: 900px) {
    background-color: $extra-pale-white;
    width: 100%;
  }
}

#lemon-index-container {
  height: 100%;
}

#lemon-index-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;

  @media screen and (min-width: 900px) {
    height: 100%;
    border-bottom: 100px solid $pale-white;
  }
}


// Lemon Index

#lemon-index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: $pale-white;

  @media screen and (min-width: 900px) {
    padding: 25px;
    font-size: 1.5rem;
    background-color: $medium-heavy-gray;
  }
}

.lemon {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $extra-pale-white;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 9px;
  border: 1px solid $light-gray;
  box-shadow: 1px 1px 0px $gray;
}

// #lemon-index-list > .lemon:not(:last-child) {
//   border-bottom: 1px solid $purple-blue;
// }

.lemon-top {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lemon-icon {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 15%;
}

.lemon-location {
  padding: 4px;
  width: 55%;
  display: flex;
  align-items: center;
}

.lemon-finder {
  display: flex;
  align-items: center;
  padding: 4px;
  width: 30%;
}

.lemon-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-top: 4px;
  width: 100%;
}

.lemon-actions > div {
  padding: 5px 10px;
  background-color: $gray;
  border-radius: 4px;
}

// Lemon Form Button

.open-lemon-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (min-width: 900px) {
    z-index: 5;
  }
}

.open-lemon-form {
  border: 1px solid black;
  position: absolute;
  top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: $yellow;
  margin-top: 10px;
  border-radius: 5px;
  transition: .3s;
}

.sheen {
  position: absolute;
  overflow: hidden;
}

.sheen:after {
  animation: sheen 1s 0s infinite;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
  transform: rotateZ(60deg) translate(-1em, 4em);
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}

.open-lemon-form:hover {
  background-color: $light-yellow;
  color: $higher-opacity-blue;
}

// Lemon Form

#lemon-form-area-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

#lemon-form-area {
  width: 90%
}

#lemon-errors {
  padding: 0 15px;
}

#close-lemon-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: $pale-yellow;
  cursor: pointer;
  position: absolute;
  border-right: 1px solid $light-gray;
}

#lemon-form-topbar {
  display: flex;
  width: 100vw;
  position: relative;

  @media screen and (min-width: 900px) {
    width: auto;
  }
}

#lemon-form-container {
  height: 100%;
  background-color: $white;

  @media screen and (min-width: 900px) {
    background-color: $extra-pale-white;
    position: static;
  }
}

#lemon-form-with-heading {
  height: 100%;
}

#edit-bar {
  width: 100%;
  display: flex;
  padding: 3px;
  justify-content: space-between;
  background-color: $yellow;

  @media screen and (min-width: 900px) {
    padding: 5px;
  }
}

#reset-form {
  padding: 2px 10px;
  background-color: $gray;
  cursor: pointer;
}

#lemon-form-heading {
  padding: 15px;
  display: flex;
  background-color: $light-yellow;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

#lemon-form-heading-text {
  font-weight: bold;
}

.slowbounce {
  -webkit-animation: slowbounce 1s infinite; /* Safari 4.0 - 8.0 */
  animation: slowbounce 1s infinite;
}

@keyframes slowbounce {
    0%   {transform: translateY(-3px);}
    40%  {transform: translateY(.5px);}
    50%  {transform: translateY(1px);}
    60%  {transform: translateY(.5px);}
    100% {transform: translateY(-3px);}
}

#lemon-form {
  width: 100%;
}

#row1 {
  display: flex;
}

#latlng {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.latlng-input {
  width: 4rem;
}

#latlng-input1 {
  margin-right: 20px;
}

.lemon-form-label {
  margin-bottom: 4px;
}

#latlng-inputs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#latlng-label2 {
  color: $gray;
  font-size: 12px;
  margin-top: 5px;
}

#tree-area {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

#note-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  padding: 5px;
  height: 5rem;
  margin: 0 15px;
  font-size: 16px;
}

#location {
  display: inline-block;
  width: 100%;
}

#location-name {

}

.label-input {
  display: flex;
}

#lemon-form-submit {
  padding: 10px 20px;
  background-color: $yellow;
  border: 1px solid black;
  margin: 10px 15px 0px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}

#lemon-form-submit:hover {
  background-color: $light-yellow;
  color: $purple-blue;
}

.input-area {
  width: 100%;
}

// Lemon Focus

#lemon-focus {
  height: 100%;
  width: 100%;
}

#lemon-focus-inner {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
}

#lemon-focus-topbar {
  width: 100%;
  display: flex;
  position: relative;
}

#lemon-focus-bye {
  display: flex;
  justify-content: flex-end;
}

#lemon-focus-bye-inner  {
  width: 10rem;
}

#lemon-focus-back {
  position: absolute;
  padding: 15px;
  background-color: $pale-yellow;
  cursor: pointer;
  border-right: 1px solid $light-gray;
}

#lemon-focus-header {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#lemon-focus-item {
  height: 100%;
  width: 100%;

  @media screen and (min-width: 900px) {
    background-color: $extra-pale-white;
    box-sizing: border-box;
    border-bottom: 100px solid $pale-white;
  }
}

#lemon-focus-lemon {
  height: 100%;
  width: 100%;
  background-color: $white;

  @media screen and (min-width: 900px) {
    height: auto;
    background-color: transparent;
  }
}

#lemon-focus-text {
  padding: 25px;
  background-color: $light-gray;

  @media screen and (min-width: 900px) {
    background-color: $medium-heavy-gray;
  }
}

#lemon-focus {
  width: 100%;
  height: 100%;
}

#lemon-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lemon-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  flex-direction: column;
  border-radius: 375px;
  overflow: visible;
  transition: .3s;
  background-color: $medium-orange;
}

#lemon-modal-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalimage {
  border-radius: 100px;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#closebutton {
  padding: 10px 20px;
  background-color: $medium-gray;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

#robertluvsya {
  margin: 20px;
  font-size: 36px;
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

// BG changer

.lemon-bg-1 {
  background-image: image-url("lemon.gif") !important;
  background-size: contain !important;
}
.lemon-bg-3 {
  background-image: image-url("lemon3.gif") !important;
  background-size: contain !important;
}
.lemon-bg-4 {
  background-image: image-url("lemon4.gif") !important;
  background-size: contain !important;
}
.lemon-bg-5 {
  background-image: image-url("lemon5.gif") !important;
  background-size: contain !important;
}
.lemon-bg-6 {
  background-image: image-url("lemon6.jpg") !important;
  background-size: cover !important;
}
.lemon-bg-8 {
  background-image: image-url("lemon8.gif") !important;
  background-size: contain !important;
}

#lemon-bg-changer{
  display: none;

  @media screen and (min-width: 900px) {
    display: block;
    width: 15px;
    height: 15px;
    background-image: image-url("lemon_side.png");
    background-size: contain;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
  }
}

// Truck index

#truck-index-container-container {
}

#truck-index-container {
}

#truck-index-header {
}

.search-form-container {
}

#truck-index {
}

#truck-index ul{
  // overflow-x: hidden;
  // overflow-y: scroll;
  // height: 100%;
  // padding: 5px;
  // background-color: $white;
}

#truck-index ul .truck:last-child{
  // border-bottom: none;
}

// Truck show

#truck-focus{
}

#truck-focus-back{
  // height: 20px;
  // width: 20px;
  // background-image: image-url("back.png");
  // background-size: cover;
  // background-position: center;
  // border: none;
  // margin: 5px 0 0 5px;
}

#truck-focus-truck{
  // padding: 5px;
  // box-sizing: border-box;
}

#truck-focus-truck .truck{
  // border: none;
}

#truck-focus-item {
  // background-color: white;
  // width: 100%;
}

// Search Form

.search-form-container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#leslie-container {
  //
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#leslie {
  // background-image: image-url("lesliesbrocco.png");
  // border-radius: 50px;
  // height: 85px;
  // width: 85px;
  // background-size: cover;
  // background-position: center;
}

.search-form {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // margin-left: 10px;
}

.search-form-food-header {
  // margin: 2px;
}

.search-form-input-food {
  // margin: 2px;
}

.submit-button {
  // border: none;
  // background-color: $higher-opacity-blue;
  // width: 181px;
  // padding: 6px;
  // cursor: pointer;
  // transition: background-color .5s ease;
  // transition: color .5s ease;
  // margin: 2px;
}

.submit-button:hover {
  // background-color: $brown;
  // color: white;
}

.search-form-input-food {
  // width: 165px;
  // padding: 6px;
}

// Truck

.truck {
  // display: flex;
  // flex-direction: column;
  // padding: 12px;
  // border-bottom: 1px solid $dark-brown;
  // font-size: .9rem;
}

.truck-top {
  // display: flex;
  // justify-content: space-between;
  // margin-bottom: 5px;
}

.truck-name-address {
  // display: flex;
  // flex-direction: column;
}

.truck-name {
  // font-size: 1.2rem;
  // font-weight: 600;
  // padding-bottom: 2px;
}

.truck-address {
  // color: $brown;
}

.truck-food {
  // font-size: .9rem;
}

// Splash

#splash {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;
  // height: 100%;
  // position: fixed;
  // z-index: 3;
  // background-color: $blue;
}

#splash-welcome-container{
  // background-color: inherit;
  // width: 100%;
  // height: 20%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#splash-welcome {
  // font-family: 'Dancing Script', cursive;
  // color: white;
  // font-size: 4rem;
}

#splash .search-form-container {
  // flex-direction: column;
  // width: 100%;
  // height: 80%;
  // border: none;
  // background-color: inherit;
  // justify-content: flex-start;
  // align-items: center;
  // margin: 0;
  // padding: 0;
}


#splash #leslie {
  // width: 180px;
  // height: 180px;
  // border-radius: 100px;
  // margin: 40px;
}

#splash .search-form {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#splash .search-form-food {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

#splash .search-form-food-header {
  // font-size: 2.2rem;
  // color: white;
}

#splash .search-form-input-food {
  // border: none;
  // text-align: center;
  // margin: 30px;
  // padding: 10px;
  // font-size: 1.2rem;
}

#splash .submit-button {
  // width: 200px;
  // padding: 10px;
  // font-size: 1.2rem;
  // color: white;
  // background-color: $purple-blue;
}

#splash .submit-button:hover {
  // background-color: $brown;
}

// Transitions/animations

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
}

.mr-10 {
  margin-right: 10px;
}

.m-15 {
  margin: 15px;
}

.to-fade-in-fast {
  opacity: 0;
  transition: opacity .25s ease-in;
}

.to-fade-in {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.to-fade-in-slower {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.to-fade-in-even-slower {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.to-fade-in-slowest {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}

.slide-left {
  transform: translateX(-52%);
  transition: transform .75s ease-in-out;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.w-100 {
  width: 100%
}

.Lemon {
  background-color: $light-yellow;
}

.Lime {
  background-color: $lime;
}

.Orange {
  background-color: $orange;
}

.pale-Lemon {
  background-color: $pale-light-yellow;
}

.pale-Lime {
  background-color: $pale-lime;
}

.pale-Orange {
  background-color: $pale-orange;
}

.fancy {
  font-family: 'Dancing Script', cursive;
}

.sans {
  font-family: 'Comic Sans', sans-serif;
}



// TWITTER HEART
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}
